@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@500;600;700;800&display=swap');

*{
font-family: 'Work Sans' 
}
*{
    margin: 0;
}

/* part1 start from here  */

.color{
    
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 15px 150px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}
.nav-items-container a{
    text-decoration: none;
    color: #3C354F;
}
.logo-container{
    display: flex;
    align-items: center;
    font-size: large;
}
.logo-container img{
width: 30px;
height: 20px;
align-items: center;
padding-right: 10px;

}
.nav-items-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    color: #0B0223;
    font-size: 13px;

}
.icon{
    display: flex;
    align-items: center;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 10px 20px 10px 20px;

}

.icon img{
    height: 15px;
    padding-top: 5px;
    padding-left: 8px;
}



/* part2 start from here */

.part2{
    display: flex;
    align-items: center;
    
}
.banner-description{
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
    color: #0B0223;
    background-image:url(./Group\ 14.png);
    background-size: 100% ;

    
}
.description{
    color: #47464a;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.bold{
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom:200px ;
}

    
.btn1{
    border-radius: 28px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 10px 20px;
    align-items: flex-start;
    color: #FFF;
    margin-top: 15px;
    border: 0;

}
.btn2{
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    padding: 10px 20px;
    align-items: flex-start;
    border: 0;
    margin: 15px 10px;
}
.img1{
    width: 60%;
    padding-left: 150px;
}
.img{
    width: 800px;
    height: 400px;
}

/* part3 start from here  */

.part3{
    padding:50px 150px;
}
.funny-videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.videos{
    display:grid;
}
.videos img{
    height: 100px;
}

.video-title{
    text-align: center;
    padding-bottom: 30px;
    
}
/* part4 start from here  */

.part4{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-top: 80px;
    padding-left: 150px;
    padding-right: 150px;
}
.clr{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
/* .pic1{
    height: 100px;
    width: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
    size: 100px; */
}
/* part5 start from here  */
.part5{
padding-top: 100px;
}

.game1  {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 100px;
    gap: 20px;
    font-size: 15px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.game2{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    gap: 20px;
    font-size: 15px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.games{
        display: flex;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px; 
    background-color: white;
    
}
.games img{
    width: 30px;
    height: 30px;
}

/* footer section start from here  */

.footer{
    background-color: black;
    padding-top:50px ;
    padding-bottom:50px ;

}
.footer-head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}
.footer-head img{
width: 30px;
height: 20px;
}
.footer-description1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
    padding-top: 30px;
    padding-bottom: 25px;
}

.footer-description2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-description2 img{
    width: 20px;
height: 20px;

}

.footer-description3{
    display: flex;
    justify-content: center;
    gap: 50px;
    color: #858488;
    padding-top:25px;
}
.end{
    color:#858488;
    padding-left: 400px;
    padding-top: 15px;
}